body {
    margin: 0;
  }
  
  .info-resize {
   display: none; 
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  nav {
    text-align: center;
    width: 100%;
    border-top: 2px dotted #1b46a6;
    border-bottom: 2px dotted #1b46a6;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .links {
    color: #1b46a6;
    font-size: 25px;
    text-decoration: none;
    padding: 10px 20px 11px 20px;
    transition: all 0.1s linear;
    border-radius: 3px;
  }
  
  .links:hover {
    color: white;
    background-color: #1b46a6;
  }
  
  #logo {
    width: 80%;
    max-width: 380px;
    height: auto;
    margin-right: 20px; /* Add some spacing between the logo and the nav */
    padding: 20px 0px;
  }
  
  #header-container {
    display: flex; /* Use flexbox to center the image */
    justify-content: center; /* Horizontally center the image */
    align-items: center; /* Vertically center the image */
  }
  
  .banner {
    object-fit: cover;
    width: 100%;
    height: 400px;
    margin: 0;
    padding: 0;
    display: block;
  }
  
  #info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background: #1b46a6;
    text-align: center;
    color: white;
    font-size: 16px;
  }
  
  .info {
    margin-right: 10px;
  }
  
  .services {
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: 800px;
    margin-left: 100px;
  }
  
  #services {
      color: #222428;
      font-family: "Nobile", Sans-serif;
      font-size: 50px;
      font-weight: 300;
      line-height: 60px;
  }
  
  #service {
      color: #1b46a6;
      font-family: "Della Respira", Sans-serif;
      font-size: 18px;
      text-transform: uppercase;
      line-height: 26px;
      letter-spacing: 1.6px;
      margin-top: 100px;
  }
  
  .service-description {
    font-size: 20px;
    line-height: 1.6;
    color: #797979;
  }
  
  .design {
    width:100%;
    background-color: #1b46a6;
    color: white;
    text-align: center;
  }
  
  #hamburger-menu {
    display: none; /* Hide the hamburger menu by default on larger screens */
    cursor: pointer;
    z-index: 1000;
  }
  
  .bar {
    width: 30px;
    height: 3px;
    background-color: #1b46a6;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: solid black 1px;
    background: #1b46a6;
  }
  
  .flex-block {
    width: 100%;
    height: 250px;
    color: white;
    margin: 20px 20px;
    text-align: left;
  }
  
  .flex-block h2 {
    margin: 0px;
    color: white;
  }
  
  .footer-text {
    font-size: 16px;
    line-height: 1.6;
  }
  
  /* Show the hamburger menu on small screens */
  @media (max-width: 830px) {
    #hamburger-menu {
      display: block;
    }
  
    nav {
      display: none; /* Hide the navigation menu on small screens */
      justify-content: center;
      flex-direction: column;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
      border: none;
    }
    
    .links {
      color: white;
      background-color: #1b46a6;
      border-radius: 0;
    }
    
    .links:hover {
      background-color: #1b46a6;
      opacity: 0.8;
    }
  
    nav.active {
      display: flex; /* Show the navigation menu when active */
    }
  
    /* Rotate the bars to create the 'X' icon */
    #hamburger-menu.active .bar:nth-child(1) {
      transform: rotate(-45deg) translate(-8px, 7px);
    }
  
    #hamburger-menu.active .bar:nth-child(2) {
      opacity: 0;
    }
  
    #hamburger-menu.active .bar:nth-child(3) {
      transform: rotate(45deg) translate(-5px, -6px);
    }
    
    .info {
      display: none;
    }
    
    .info-resize {
      display: inline-block;
      margin-right: 10px;
    }
    
    #services {
      font-size: 35px;
    }
    
    .services {
      margin-left: 20px;
    }
    
    .service-description {
    font-size: 16px;
    }
    
    footer {
      flex-wrap: wrap;
    }
  }